@import "tailwindcss";


/* ******************* feedback section ************************************** */

/* ********************* Auth Page ************************************************************/

.auth-container{
  width: 50%;
  padding: 15px;
}
.input-container{
  width: 100%;
  padding: 5px;
}

/* ************************ Register workers***************************************** */

.input {
  @apply p-2 border rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-indigo-400;
}